/* DEFAULT SETTINGS */

/* body properties */
body {
    font-size: 20px;
    font-family: 'Times New Roman';
    animation: 10s pageanimation infinite;
}

/* block of content */
.everything {
    border-radius: 100px;
    background-color: rgb(255, 247, 153);
    width: 90%;
    max-width: 800px;
    border: 10px;
    border-style: solid;
    border-color: black;
    margin: 5px auto;
    padding: 10px;
}

/* turn off scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* header */
h1 {
    display: flex;
    justify-content: center;
    font-family: Papyrus;
}

/* change color of the links when user click on them */
a:active {
    color: white;
}

/* navigation bar */
.choice {
    font-family: 'Papyrus';
    font-weight: bold;
}

    .bar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
    }

        /* "More" buttons must not be shown by default */
        .more {
            display: none;
        }

        /* logo item in the bar (and footer)*/
        .logo {
            padding: 10px;
            float: left;
        }

            .logo a {
                border-radius: 10px;
                display: block;
                height: 51px;
                width: 51px;
                background-image: url("Pics/logo.png");
                transition: background-color 0.5s;
            }

                /* logo hover effect */
                .logo a:hover {
                    background-color: black;
                }

        /* non-logo items */
        .bar .item {
            float: left;
            width: 190px;
            height: 74px;
            padding: 0 5px;
            text-align: center;
            font-size: 34px;
        }

            .bar .item a {
                border-radius: 10px;
                display: block;
                padding: 10px;
                text-decoration: none;
                transition: background-color 0.5s;
                color: rgb(26, 20, 105);
            }

                .bar .item a:hover {
                    background-color: powderblue;
                }

        /* "about us" link */
        .bar #aboutus {
            float: right;
            padding-right: 10px;
        }

        /* set background for current page in navigation bar */
        .bar .chosen a{
            background-color: mediumseagreen;
        }

/* link to the next page properties*/
#next {
    width: 220px;
    border-radius: 10px;
    display: block;
    font-family: 'Papyrus';
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.5s;
}

    /* changes when hover it */
    #next:hover {
        background-color: mediumseagreen;
    }

/* ANIMATION SETTINGS */

.right {
    float: right;
}

/* animation buttons block */
.buttons {
    display: flex;
    justify-content: center;
}

    /* buttons for animations */
    .buttons button {
        background-color: white;
        font-family: "Courier New";
        padding: .5em .5em;
        font-size: 20px;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 25px;
        transition: background-color 0.5s;
    }

        /* hover effect */
        .buttons button:hover {
            background-color: lightgreen;
        }


/* animation boxes */
#box, #box2, #box3{
    border-radius: 10%;
    width: 292px;
    height: 292px;
    position: relative;
    margin: 10px auto;
}

    #box2, #box3 {
        background-color: white;
    }

/* animation balls */
#ball1, #ball2, #ball3, #ball4, #ball5 {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
}

    #ball1 {
        background-image: radial-gradient(rgb(255, 128, 128), rgb(255, 51, 51), 	rgb(230, 0, 0), rgb(153, 0, 0), rgb(77, 0, 0), black);
    }

    #ball2 {
        background-image: radial-gradient(lime, rgb(0, 204, 0), rgb(0, 153, 0), rgb(0, 102, 0), rgb(0, 51, 0), black);
    }

    #ball3 {
        background-image: radial-gradient(rgb(128, 128, 255), rgb(51, 51, 255), rgb(0, 0, 230), rgb(0, 0, 153), rgb(0, 0, 77), black);
    }

    #ball4 {
        background-image: radial-gradient(rgb(166, 166, 166), rgb(102, 102, 102), rgb(77, 77, 77), rgb(51, 51, 51), rgb(26, 26, 26), black);
    }

    #ball5 {
        background-image: radial-gradient(rgb(0, 204, 204), rgb(0, 153, 153), rgb(0, 139, 139), rgb(0, 102, 102), rgb(0, 51, 51), black);
    }

/* animation hands */
#right_hand, #right_hand2, #left_hand, #left_hand2 {
    height: 42px;
    width: 42px;
    position: absolute;
}

    #left_hand, #left_hand2 {
        background-image: url("Pics/lefthand.png");
    }

    #right_hand, #right_hand2 {
        background-image: url("Pics/righthand.png");
    }

/* VIDEO SETTINGS */

.video {
    display: block;
    margin: auto;
    width: 720px;
    height: 400px;
    max-width: 100%;
}

/* COVER PAGE SETTINGS */

/* large logo parts */
#biglogotop, #biglogobot {
    height: 76px;
    width: 204px;
    margin: auto;
}
    /* top part */
    #biglogotop {
        margin-top: 10px;
        background-image: url("Pics/biglogotop.png");
    }

    /* bottom part */
    #biglogobot {
        margin-bottom: 10px;
        background-image: url("Pics/biglogobot.png");
    }

/* title in between logo */
#name {
    border-radius: 10px;
    display: table;
    margin: auto;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: black;
    font-family: Papyrus;
}

/* link to the introduction of juggling */
#basics {
    border-radius: 10px;
    display: table;
    margin: 20px auto;
    font-size: 48px;
    text-decoration: none;
    font-family: Papyrus;
    transition: background-color 0.5s;
}

    /* hover effect */
    #basics:hover {
        background-color: mediumseagreen;
    }

/* INTRODUCTION PAGE SETTINGS */

/* juggling difficulties list changes  */

#levels {
    margin: auto;
    list-style-type: none;
}

#jugglinglevels, #requirements {
    width: 99%;
    display: inline-block;
}

level {
    font-family: "Informal Roman";
    font-weight: bold;
}

/* strengths */
#liststr {
    list-style-image: url("Pics/SmallPlus.png");
}

/* weaknesses */
#listweak {
    list-style-image: url("Pics/SmallMinus.png");
}

/* PREPARATION PAGE SETTINGS */

/* trajectory block */
#trajectory {
    display: inline-block;
}

#trajectory p span {
    font-weight: bold;
    font-style: italic;
}

/* MASTERY PAGE SETTING */

#circus, #instructor {
    width: 99%;
    display: inline-block;
}

/* ABOUT US PAGE SETTING */

#aboutinf, #mymissionis {
    text-align: center;
    max-width: 95%;
}

#allcontacts {
    list-style-type: none;
}
    #allcontacts li {
        height: 1.5em;
    }

/* FOOTER SETTINGS */

/* footer block */
footer {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background-image: radial-gradient( rgb(159, 223, 159), rgb(64, 191, 121));
    height: 120px;
    transition: background-color 5s;
    animation-duration: 2s;
}

    /* Find me button */
    #contacts {
        margin-top: 5px;
        height: 1.5em;
        font-size: 32px;
        font-family: "Math";
        font-weight: bold;
        background-color: transparent;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 2s;
        z-index: 1;
    }

        #contacts:hover {
            background-color: white;
        }

    /* list of footer items */
    .bot {
        min-width: 400px;
        margin-top: 50px;
        position: absolute;
        list-style-type: none;
    }

        /* applied to all footer items */
        .bot li {
            padding: 5px;
            float: left;
        }

            /* non-logo items */
            .bot .footeritem a {
                display: block;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                transition: background-color 1s;
            }

                /* background images to social media icons */
                #facebook a{
                    background-image: url("Pics/facebook.png");
                }

                #twitter a{
                    background-image: url("Pics/twitter.png");
                }

                #instagram a{
                    background-image: url("Pics/instagram.png");
                }

                #map a{
                    background-image: url("Pics/map.png");
                }

                #snapchart a{
                    background-image: url("Pics/snapchart.png");
                }

                /* non-logo items hover effect */
                .footeritem a:hover {
                    background-color: white;
                }

/* ANIMATIONS */
/* background animation */
@keyframes pageanimation {
    0% {
        background-color: palegoldenrod;
    }

    50% {
        background-color: rgb(247, 244, 212);
    }

    100% {
        background-color: palegoldenrod;
    }
}

/* footer animation */
@keyframes doanimation {

    /* start from (0%) */
    from {
        opacity: 0;
        background-color: rgb(159, 223, 159);
        background-image: none;
    }

    /* go to (100%) */
    to {
        opacity: 0.9;
        background-color: rgb(64, 191, 121);
        background-image: none;
    }
}

/* SCREEN RESIZING CHANGES */
/* if screen become small navigation bar change (current setting will apply to less than 1310px size of screen)*/
@media screen and (max-width: 1310px) {

    .two {
        display: block;
    }

    #twoelems {
        display: none;
        position: absolute;
        margin: 74px 672px;
        z-index: 1;
    }

    #twoelems .item {
        float:none;
    }

    #twoelems .item a {
        border: 1px solid black;
    }

    #dropdown2:hover #twoelems {
        display: block;
    }

}

/* if screen become small navigation bar change (current setting will apply to less than 1110px size of screen)*/
@media screen and (max-width: 1110px) {

    .three {
        display: block;
    }

    .two {
        display: none;
    }

    #twoelems {
        display: block;
        margin: 0;
    }

    #nextdropdown2 {
        display: none;
        position: absolute;
        margin: 74px 472px;
        z-index: 1;
    }

    #nextdropdown2 .item {
        float:none;
    }

    #nextdropdown2 .item a{
        border: 1px solid black;
    }

    #dropdown3:hover #nextdropdown2 {
        display: block;
    }

}

/* if screen become small navigation bar change (current setting will apply to less than 910px size of screen)*/
@media screen and (max-width: 910px) {
    
    body {
        display:none;
    }
    
    .four {
        display: block;
    }

    .three {
        display: none;
    }

    #nextdropdown2 {
        display: block;
        margin: 0;
    }

    #nextdropdown3 {
        display: none;
        position: absolute;
        margin: 74px 272px;
        z-index: 1;
    }

    #nextdropdown3 .item {
        float:none;
    }

    #nextdropdown3 .item a{
        border: 1px solid black;
    }

    #dropdown4:hover #nextdropdown3 {
        display: block;
    }

}

/* if screen become small navigation bar change (current setting will apply to less than 710px size of screen)*/
@media screen and (max-width: 710px) {

    .five {
        display: block;
    }

    .four {
        display: none;
    }

    #nextdropdown3 {
        display: block;
        margin: 0;
    }

    #nextdropdown4 {
        display: none;
        position: absolute;
        margin: 74px 72px;
        z-index: 1;
    }

    #nextdropdown4 .item {
        float:none;
    }

    #nextdropdown4 .item a{
        border: 1px solid black;
    }

    #dropdown5:hover #nextdropdown4 {
        display: block;
    }

    

}

/* if screen become very small (less than 510px) decrease sizes of some elements*/
@media screen and (max-width: 510px) {

    /* and set absolute minimum of all content to 400px */
    html {
        min-width: 400px;
    }

    #nextdropdown4 {
        margin: 60px 72px;
    }

    .bar .item {
        font-size: 26px;
        width: 150px;
        height: 60px;
        padding: 0;
    }
}

@media only screen and (orientation: landscape) {
    body {
        display:none;
    }
}
